* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
}

.profile {
  display: flex;
  position: absolute;
  top: calc(50% - 257.2px);
  left: calc(50% - 337.25px);
  height: 80%;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile img {
  height: 250px;
  width: 200px;
}

.employeeName {
  font-size: 56px;
  font-weight: bolder;
  color: rgb(8, 111, 167);
}

.App {
  text-align: center;
}

label {
  font-size: 20px;
  color: grey;
  font-weight: bolder;
}

.employeeLocation,
.employeeBloodGroup,
.employeeAge {
  font-size: 26px;
  font-weight: bolder;
}
